window, #main-window, #navigator-toolbox, #TabsToolbar, #sidebar-box {
  background-color: rgba(41,47,52,0.2) !important;
  -moz-appearance: none !important;
  background-image: none !important;
}

#nav-bar {
  background-color: rgba(33,37,41,0.5) !important;
}

.tab-background[selected="true"] {
  background: rgba(33,37,41,0.3) !important;
  -moz-appearance: none !important;
  background-image: none !important;
}

.tab-background {
  background: rgba(0,0,0,0) !important;
  border: 1px rgba(0,0,0,0.2) solid !important;
  border-radius: 6px !important;
}
